{%- set id = params.id or params.name or "search" -%}

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="{{ id }}">
      {{ params.label }}
    </label>
  </h2>

  {%- if params.hint -%}
    <p class="govuk-body">{{ params.hint }}</p>
  {%- endif -%}

  <form method="GET" class="lis-search-form">
    <div class="lis-search-form__wrapper">
      <input
        class="govuk-input lis-search-form__input"
        type="search"
        id="{{ id }}"
        name="{{ params.name or 'search' }}"
        value="{{ params.value }}"
      >
      <div class="lis-search-form__submit-wrapper">
        <button class="lis-search-form__submit" type="submit">
          <svg class="lis-search-form__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
            <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
            <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
          </svg>
          <span class="govuk-visually-hidden">Search</span>
        </button>
      </div>
    </div>
  </form>
</div>

{%- if params.insetText -%}
  <div class="govuk-inset-text">
    {{ params.insetText }}
  </div>
{%- endif -%}
